body {
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;;
    padding: 2px 5px;
    font-family: Source Sans Pro;
}

.navbar li {
    list-style-type: none;
    padding: 6px 0px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navbar__logo i{
    color: #d49466;
    margin: 5px;
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

li a {
    padding: 8px 12px;
}

.navbar__icons i{
    color: white;
    margin: 10px;
}

.navbar__menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    top: 15px;
    right: 32px;
    font-size: 24px;
}

.navbar__toggleBtn i {
    color: #d49466;
}

@media screen and (max-width: 768px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar__menu a {
        display: block;
    }

    .navbar__menu li {
        padding: 0;
        text-align: center;
    }

    .navbar__icons {
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .navbar__toggleBtn {
        display: flex;
    }

    .hidden {
        display: none;
    }
}